body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#main_header {
    font-size:xx-large;
    padding:0.2 rem;
    border-bottom: 3px solid cornflowerblue;
}

h2 {
    padding:0.2 rem;
    border-bottom: 2px solid cornflowerblue;
}

pre, code {
    margin-top:0.1 rem;
    background-color: whitesmoke;
    padding: 3px;
    border: 1px solid gray;
    font-size: xx-small;
}

li {
    font-size: x-small;
}